@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline as needed */
    background: linear-gradient(to right, black, white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  a:hover .gradient-underline::after {
    transform: scaleX(1);
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1/2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 2 / 3 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 4 / 3 / 5; }

